.card {
    margin: 0 2% !important;
  }
  @media only screen and (max-width: 770px) {
    .card {
      margin: 2% 0 !important;
    }
  }

.mywidth {
  width: 335px;
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}